@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Poppins:wght@500&family=Roboto:ital@1&display=swap');
*{
margin:0;
padding:0;
box-sizing:border-box;
}
:root{
    --transition: all 400ms ease;
    --bg-color:#F3DEBA;
    --color1:#A9907E;
    --color2: #ABC4AA;
    --color3: #675D50;
    --color4: lightgreen;
    --color5: white;
    --color6: black;
}
body{
  overflow-x: hidden;
  /* height: 200vh; */
}


/* ===================== NAVBAR ===========*/
.window-scroll{
  width: 100%;
  background-color: var(--color4)
}
nav{
    background: white;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;

}
.nav_container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_container a img{
    width: 20%;
    margin-left: 5%;
    
}
nav button{
    display: none;
}
.nav_menu{
    display: flex;
    align-items: center;
    gap: 4rem;
    margin-right: 2%;
}
.nav_menu a{
    font-size: 0.7rem;
    transition: var(--transition );
    text-decoration: none;
    color: var(--color);
}
.nav_menu li{
    list-style: none;
}
.nav_menu a:hover{
    color: rgb(102, 101, 101);
    
}
.menu{
    display: none   
}

 /* After Nav Section */
  /* After Nav Section */
   /* After Nav Section */

.after-nav{
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  z-index: 10;
  top:9.5%;
  width:100%;
  padding-top:10px;
  background-color:black
}
.after-nav h1{
  font-family: Roboto;
  transition: 0.5s ease-in-out;
  transform:translateY(10%);
  color:var(--color5);
  margin-left: 2%;
}
.after-nav .search{
  gap: 0.5em;
  transition: 0.5s;;
  width: 70%;
  position: relative;
 
}

.after-nav .search > #search-box{
  width: 45%;
  border-radius: 5px;
  border: 1px solid var(--color2);
  padding: 10px;
  padding-left: 25px;
  margin-bottom: 1%;
  transition: 0.6s ease-in-out;
  transform:translateX(-5%);
  padding-left:5%;
  
 
}
#btns{
  padding: 5px;
  height: 30px;
  width: 70px;
  border-radius: 10px;
  background-color: rgb(11, 205, 11);
  border: none;
  color: white;
}

.after-nav .search #search-btn{
  cursor: pointer;
  z-index: 100;
  color: var(--color5);
  color:rgb(15, 189, 15);
  position: absolute;
  left:0;
  top: 14px;



}
.nav_menu1{
  display: none;
}


/*LANDING PAGE */
/*LANDING PAGE *//*LANDING PAGE */
/*LANDING PAGE *//*LANDING PAGE */
.main {
  margin-top: 9%;
  height: 70vh;
  width: 100%;
  
}
.wrapper,
.slide {
  position: relative;
  width: 100%;
  height: 90%;
  padding-top: 2%;
}
.slide {
  overflow: hidden;
  
 
}

.slide .image {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: contain;
  left: 30%;
  
}
.page1{
  background-color: rgb(0, 0, 0);
}
.page2{
  background-color: rgb(243, 240, 240);;
}
.page3{
  background-color: rgba(230, 145, 145, 0.608);
}
.page2 > .image2{
  position: absolute;
   height: 7 0vh;
   width:30%;
   top:1%;
   right:10%;
}
.page3 > .image3{
  position: absolute;
   height: 70vh;
   width:30%;
   top:-1%;
   right:0;
}
.image-data .p2-color{
   color:rgb(6, 0, 0);
   font-size: 60px;
}
.image-data > #text2{
  color:rgb(154, 19, 19);
}
.image-data > #text3{
  color:rgba(99, 14, 14, 0.805);
}

.slide .image-data {
  position: relative;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  z-index: 100;
}
#last-slide{
  font-size: 70px;
}
.image-data .firstext{
  font-size: 80px;
}
.image-data span.text {
  font-size: 14px;
  font-weight: 400;
  color: var(--color2);
  font-family: lobster;
}
.image-data h2 {
  font-size: 45px;
  font-weight: 600;
  color: #f9f9f9;
  font-family: Roboto;
}
a.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  color: #333;
  background: #fff;
  text-decoration: none;
  margin-top: 25px;
  transition: all 0.3s ease;
}
a.button:hover {
  color: #fff;
  background-color: #c87e4f;
}

/* swiper button css */
.nav-btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
 
}
.nav-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}
.swiper-button-next {
  right: 50px;
  
}
.swiper-button-prev {
  left: 50px;
}
.nav-btn::before,
.nav-btn::after {
  width: 20px;
  color: #302b2b;
}
.swiper-pagination-bullet {
  opacity: 1;
  height: 12px;
  width: 12px;
  background-color: #fff;
  visibility: hidden;
  font-size: 10px;
}
.swiper-pagination-bullet-active {
  border: 2px solid #fff;
  background-color: #c87e4f;
}
/*FEATURES*//*FEATURES*/
/*FEATURES*//*FEATURES*/
/*FEATURES*/
.features {
  background-color: #f9f9f9;
  padding: 50px;
}

.features h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
}

.features ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.features li {
  width: 200px;
  margin: 20px;
  text-align: center;
}

.features i {
  font-size: 48px;
  color: #32a852;
  margin-bottom: 20px;
}

.features p {
  font-size: 18px;
  color: #444;
  line-height: 1.5;
  text-align: center;
}

.features .btn {
  display: block;
  margin: 50px auto 0;
  padding: 10px 20px;
  background-color: #32a852;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.features .btn:hover {
  background-color: #219a3b;
}
/*PRODUCT*/
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 20%;
  max-width: 1000px;
  width: 100%;
  }
  
  .products  .product-land {
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  margin-left: 2%;
  padding: 20px;
  text-align: center;
  width: 30%;
  }
  .pro-h2 h2{
    text-align: center;
  }
  
  .product-land img {
  border-radius: 10px;
  margin-bottom: 20px;
  max-width: 100%;
  }
  
  .product-land h3 {
  font-size: 24px;
  margin-bottom: 10px;
  }
  
  .product-land p {
  font-size: 16px;
  margin-bottom: 20px;
  }
  
  .btn {
  background-color: #5fb760;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
  }
  
  .btn:hover {
  background-color: #479c48;
  cursor: pointer;
  }
  /* Awards */
  /* Awards */
  .awards {
  
   
    background-color: #f2f2f2;
    padding: 50px;
    text-align: center;
  }
  #h2A{
    text-align: center;
    font-size: 50px;
    font-family: monospace;
    margin-bottom:-5%;
    padding-bottom: 2%;
  }
  /* pro-cate */
  .Categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .pro-cate{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .pro-cates {
    display: flex;
    list-style: none;
    margin: 10px;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
    height: 95%;
  }
  
  .category-image {
    position: relative;
    text-align: center;
  }
  
  .category-image img {
    max-width: 100%;
    height: 60%;
    width: 100%;
    object-fit: contain;
    text-align: center;
    margin-top: 30%;

  }
  
  .category-text {
    position: absolute;
    top: 80%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 30px;
    font-family: monospace;
  }
  
  
  .award {
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 55px turquoise;
    background-color: #e1e9e2
  }
  
  .award img {
    max-width: 200px;
    margin-bottom: 20px;
    margin-top: 2%;
  }
  
  .award h3 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .award p {
    font-size: 18px;
    color: #666;
    margin-bottom: 0;
  }
  /* Reviews */
  #reviews{
    height: 30vh;
    margin-bottom: 5%;
    background-color: var(--color2);
  }
  #reviews h1,p{
    text-align: center;
  }
  #reviews h1{
    font-size: 40px;
    font-family: monospace;
  }
  #reviews p{
    font-size: 20px;
    
  }
  .slide-container{
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
  }
  .slide-content{
    margin: 10 40px;
    overflow: hidden;
    border-radius: 25px;
  }
  .card{
    border-radius: 25px;
    background-color: #FFF;
  }
  .image-content,
  .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
  }
  .image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
  }
  .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color1);
    border-radius: 25px 25px 0 25px;
  }
  .overlay::before,
  .overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: var(--color2)
  }
  .overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #FFF;
  }
  .card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
  }
  .card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070F4;
  }
  .name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
  }
  .description{
    font-size: 14px;
    color: #707070;
    text-align: center;
  }

  .button:hover{
    background: #265DF2;
  }
  
  .swiper-navBtn{
    color: #6E93f7;
    transition: color 0.3s ease;
  }
  .swiper-navBtn:hover{
    color: #4070F4;
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after{
    font-size: 35px;
    color: black;
  }
  .swiper-button-next{
    right: 0;
  }
  .swiper-button-prev{
    left: 0;
  }
  .swiper-pagination-bullet{
    background-color: #929496;
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    background-color: #4070F4;
  }
  
  /* @media screen and (max-width: 768px) {
  
  } */
  .img-gallery{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(250px, 1fr));
    grid-gap:30px;
  }
  .card-image img{
    width: 50%;
    cursor: pointer;
    transition: 0.5s ease;
  }
  .full-img{
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0 ;
    display: none;
    z-index: 100;
  }
  .full-img > img{
    width: 70%;
    height: 90%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .full-img span {
   position: absolute;
   font-size: 30px;
   top: 10%;
   right: 5%;
   color: rgb(236, 185, 185);
   font-family: arial;
  }
  .card-image img:hover{
    transform: scale(0.8) rotate(-15deg);
  }
  /* FOOTER */
  /* FOOTER */
  /* FOOTER */
  /* Footer container */
  
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #f5f5f5;
  padding: 40px;
}

/* Footer logo */
.footer-logo img {
  height: 60px;
}

/* Footer info */
.footer-info h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.footer-info p {
  font-size: 18px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.footer-info p i {
  margin-right: 10px;
  font-size: 20px;
}

/* Footer links */
.footer-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  font-size: 18px;
  color: #333;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.footer-links a:hover {
  color: #555;
}

/* Footer social */
.footer-social ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.footer-social li {
  margin-right: 10px;
}

.footer-social a {
  color: #333;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.footer-social a:hover {
  color: #555;
}

/* Footer credits */
.footer-credits {
  background-color: #eee;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}

.footer-credits p {
  margin: 0;
}
/*  PRODUCTS */
/*  PRODUCTS */
/* Header styles */
#Products-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F8F8F8;
  padding: 30px 20px;
}

#Products-header h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

#Products-header ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

#Products-header li {
  font-size: 18px;
  margin: 6% 10px 10px 10px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #FFFFFF;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

#Products-header li:hover {
  transform: translateY(-5px);
}

#Products-header i {
  font-size: 24px;
  margin-right: 10px;
}
/* 
@media screen and (max-width: 768px) {

  
} */
/* Style for desktop and tablet screens */
#product-list {
  max-width: 1200px;
  margin: 5% 15% 0% 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 12%;
}
.product-page{
  margin-bottom: 40px;
  width: calc(25% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  background-color: #9d969656;
}
.product-page:hover{
  box-shadow: 0px 0px 50px rgba(168, 196, 228, 0.438);
}
.product-page img{
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
  max-width: 100%;
}
#product-list .product-page h2 {
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.product-page p{
  margin-top: 10px;
font-size: 1.2rem;
font-weight: bold;
text-align: center;
}
.product-page i{
  font-size: 20px;
  padding-top: 10px;
}
.product-page button{
  margin-top: 10px;
padding: 10px 20px;
border: none;
background-color:var(--color4);
color: #fff;
font-size: 1.2rem;
font-weight: bold;
transition: 0.3s ease-in-out;
}
.product-page button:hover{
 background-color: green;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;

}

.pagination button {
    background-color: var(--color2);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 0 5px;
    font-size: 1rem;
    border-radius: 5px;
}



/* ABOUT US */

#about-header{
  position: relative;
  margin-top: 12%;
  align-items: center;
  margin-bottom: 2%;
  
}
#about-header h2{
  padding: 10px;
  font-family: monospace;
  font-size: 50px;
  text-align: center;
}

.about-logo{
  width: 100%;
  text-align: center;
}
.about-logo img{
  border-radius: 50%;
  width:20%;
  border: 12px solid rgba(0, 128, 0, 0.481);
  
}
.about-info{
  padding: 20px 30px;

}
.about-info h3{
  font-size: 25px;
  font-family: Roboto;
  padding-bottom: 10px;
  text-align: center;
  
}
.about-info h4{
  text-transform: capitalize;
  font-size: 22px;
  padding-bottom: 5px;
  float: left;
 
}
.about-info p{
  font-family: Noto Sans;
  padding-top: 20px;
  float: left;
  padding-bottom:22px;
}
.about-land{
  width: 100%;
  background-color: black;
  height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.land-info h1 {
  font-size: 3.5rem;
  font-weight: bold;
  color: white;  
  margin-bottom: 30px;
  font-family: Poppins;
  transition: 0.5s ease-in-out;
  transform: translateX(10%);

}
.about-land img {
  width: 40%;
 height: 100%;
 object-fit: cover;
}
.transition-fade {
  transition: 500ms;
  opacity: 1;
  transform: translateX(0);
  transform-origin: left;
}

html.is-animating .transition-fade {
  opacity: 1;
  transform: translateX(100% );

}
html.is-leaving .transition-fade {
  opacity:0;
  transform: translateX(0 );
  
}
/* SingUP */
.sign-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: monospace;
}
#logo-bar{
 align-items: center;
 width: 15%;

} 

#logo-bar img{
  width: 90%;
}
#card-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  position: relative;
}
#card-cont h2{
  font-family: lato;
}
#card-cont input{
  width: 80%;
  padding: 10px;
  font-size: 17px;
}
#card-cont button{
  width: 100%;
  padding: 10px;
  background-color: lightgreen;
  border: none;
  border-radius: 10px;
}
#lastbar{
padding-top: 3%;
  
}
#last-logo{
 display: flex;
 position: absolute;
 bottom: 0;
}
#last-logo img{
  width: 25%;
}
#last-logo p{
  padding-top: 10%;
  font-size: 19px;
}


@media (max-width: 480px) {
  #about-header #hr{
    margin-top: 10rem;
   
  }
  .about-land img {
    width: 50%;
   height: 100%;
   object-fit: cover;
  }
  .land-info h1{
    font-size: 3rem;
  }
  .about-logo img{
    border-radius: 50%;
    width:50%;
    border: 12px solid rgba(0, 128, 0, 0.481);
    
  }
  .product-page{
    width: 100%;
  }

  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
  #Products-header{
    width: 100%;
   margin-top: 40%;
  }
  #Products-header h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  #Products-header li {
    font-size: 16px;
    margin: 5px;
    padding: 8px 15px;
  }

  #Products-header i {
    font-size: 20px;
    margin-right: 8px;
  }
  
  .product {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
  
  
    }
    .product img{
      width: 100%;
      transition: 0.2s ease-in-out;
    }
   
  .nav-btn {
    visibility: hidden;
  }
 
  .swiper-pagination-bullet {
    visibility: visible;
  }
    /* Your CSS rules here */
    /* .logo-med{
      width: ;
    } */
    .nav_menu{
        display: none;
    }
    .menuItem {
        display: block;
        margin: 2rem 1rem 0.5rem 10rem;
        font-size: 1.2rem;
        color: white;
        text-decoration: none;
      }
      
      .menuItem:hover {
        text-decoration: underline;
      }
      
      .hamburger {
        display: inline;
        position: fixed;
        z-index: 100;
        top: 1rem;
        right: 1rem;
        padding: 4px;
        border: black solid 1px;
        color:var(--color4);
        cursor: pointer;
        border: none;
        font-size: 20px;
      }
      
      .hamburger  > .closeIcon {
        display: none;
      }
      
      .menu {
        
        position: fixed;
        transform: translateY(-10%);
        transition: transform 0.5s;
        top: 5%;
        left: 25%;
        right: 0;
        bottom: 0;
        height: 40vh;
        z-index: 99;
        background:var(--color3);
        color: white;
        list-style: none;
        padding-top: 4rem;
        
      }
      .menu li{
        position: relative;
        top:-2rem;
      }
      
      .showMenu {
        transform: translateX(100);
      }
    
  /* After Nav Section */

  .after-nav .search > {
    display: none;
    border-radius: 10px;
    border: 1px solid var(--color2);
    padding: 5px;
    padding-left: 55px;
    margin-bottom: 2%;
    transition: 0.5s ease-in-out;
    transform:translateX(-15%)
   
  }
  .after-nav  h1{
  font-size: 15px;
  padding-right: 20px;
  width: 200px;
  margin-top: 1.5%;
  }
  .after-nav .search #search-btn{
    position: absolute;
    cursor: pointer;
    padding-bottom:10px;
   
  }
  .after-nav .search #search-box{
   margin-top: 5%;
    width: 100%;
    height: 30%;
    padding: -10px;
    margin-left: 4%;
  }
  
  .nav_menu1{
    margin-top: 2%;
    display: flex;
  }
  .nav_menu1 li a{
    text-decoration: none;
    color: white;
    padding: 10px;
  }
  /*main section*/
  .main {
    position: absolute;
    top:8%
  }
  .image-data .firstext{
    font-size: 30px;
  }
  .page1 .image{
    position: absolute;
    width: 100%;
    left: 20;
    height: 70vh;
    
  }
  .page2{
   background-color: rgb(243, 240, 240);
  }
  .page2 .image2{
    position: absolute;
    width: 100%;
    left: 20;
    
  }
  .image-data .p2-color{
    font-size: 30px;
    padding-left: 30px;
  }
  .page3 .image3{
    position: absolute;
    width: 100%;
    left: 2;
    object-fit: cover;
  }
  .image-data > #last-slide{
    font-size: 30px;
    color: rgb(29, 5, 71);
  }
  .image-data > #text3{
    color:rgba(30, 27, 27, 0.805);
    font-size: 12px;
  }
  #reviews{
    margin-bottom: 12%;
  }
  .products{
    width: 100%;
    margin: 0;
  }
  .products .product-land{
     width: 90%;
  }
  
  .pro-cate{
   display: flex;
   justify-content:center;
   align-items: center;
   flex-direction: column;
  }
  .pro-cates {
   width: 100%;
   height: 80%;
  }
  
  .category-image {
    align-items: center;
    padding: 10px;
  }
  
  .category-image img {
    height: 90%;
    width:100%;
    object-fit: cover;

  }
  /* .logo-med{
    width: 50;
  } */
}